<!DOCTYPE html>
<html layout:decorator="base/base"
      th:with="currentPage='cadastrar-tipos-procedimento'"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Prontuário - Página Modelo</title>

</head>

<section layout:fragment="conteudo">

    <div class="row">

        <!-- BREADCRUMBS - Mostra o caminho até a página atual -->

        <div class="col s12 breadcrumbs valign-wrapper">

            <a class="breadcrumb blue-grey-text" th:href="@{/}">
                <i class="material-icons left">home</i>
            </a>

            <a class="breadcrumb blue-grey-text" th:href="@{/tipo-procedimento/listar}">Procedimentos</a>

            <a class="breadcrumb blue-grey-text" th:text="${tipoProcedimento.id==null} ? Cadastrar : Editar"></a>

        </div>

        <!-- BREADCRUMBS -->


        <!-- CONTAINER - Conteiner principal da aplicação -->

        <div class="col s12">

            <!-- BEGIN FORM -->
            <form class="card" method="post" sec:authorize="hasAuthority('ADMINISTRACAO')"
                  th:action="@{/tipo-procedimento/adicionar}" th:object="${tipoProcedimento}">
                <input th:field="*{id}" type="hidden"/>
                <div class="card-content">
                    <div class="row">
                        <div class="col l6 m6 s12">
                            <div class="input-field">
                                <label for="codigo">Código</label>
                                <input class="form-control only-numbers"
                                       id="codigo" th:field="*{codigo}" type="text"/>
                            </div>
                        </div>
                        <div class="col l6 m6 s12">
                            <div class="input-field">
                                <label for="nome">* Nome</label>
                                <input class="form-control"
                                       id="nome" required="required" th:field="*{nome}" type="text"/>
                            </div>
                        </div>
                        <div class="col l12 m12 s12">
                            <div class="input-field">
                                <label for="descricao">* Descrição</label>
                                <input class="form-control"
                                       id="descricao" required="required" th:field="*{descricao}" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="grey-text">* Campos obrigatórios</span>
                    </div>
                </div>

                <div class="card-action right-align">
                    <a class="btn btn-flat waves-effect" th:href="@{/tipo-procedimento/listar/}">Cancelar</a>
                    <button class="btn waves-effect waves-light" type="submit">Salvar</button>
                </div>

            </form>
            <!-- END FORM -->

        </div>

        <!-- CONTAINER -->

    </div>

</section>

<section layout:fragment="js">

    <!-- SCRIPTS - Coloque aqui os scripts desta página -->

</section>

</html>